* {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
	margin: 0px;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

form div {
	margin: 4px;
	float: right;
}


select#provedor {
	height: 4vh;
	border: 2px solid #CAD5E7;
	border-radius:4px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	outline: none;
}

label {
	padding-right: 4px;
	border-right: 3px solid #7FA5CA;
	color: #707070;
}

.header {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100%;
	height: auto;
	box-shadow: 0px 3px  6px rgba(0, 0, 0, .16);
}

.header b {
	color: #07195B;
	position: absolute;
	left: 42%;
	font-size: 3.6em;
	font-weight: 900;
	font-style: italic;
	/*text-align: center;*/
}

a {
	text-decoration: none;
	color: #000;
}

.company_info {
	width: 58%;
	position: absolute;
	display: flex;
	align-items: center;
	left: 50%;
	bottom: 2.5%;
	-webkit-transform: translate(-42%);
 	transform: translate(-42%);
 	font-weight:lighter;
	font-size: 0.8em;
}

.company_info div {
	display: flex;
 	margin: 4px;
 	padding: 8px;
 	border-left: 4px solid #7FA5CA;
}

#title {
	font-size: 2em;
	font-weight: 700;
	color: #4e4e4e;
	margin: 0;
}

#login-link {
	font-size: 0.9em;
	color: #707070;
}

#login-link a {
	color: #246DC1;
}

.header a img{
	width: 10em;
}



#sucess_ico{
	width: 10rem;
}

#fail_ico{
	width: 6rem;
}

#fail_message{
	display: none;
}

#sucess_message{
	display: block;
}



#report_tab tr th p{
	font-weight: normal;
	width: 110%;
}

.info{
	text-align: left;
	color: #707070;
}

.value{
	text-align: right;
	color: #4e4e4e;
}

#report_tab tr th #pay_value{
	font-weight: bold;
}

#report_tab tr th h4 p{
	font-weight: bold !important;
}

.conteiner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#getReport p{
	display: inline-flex;
	width: 2.87em;
	padding: 0.3rem;
	background-color: #2c2c2c;
	font-size: 1em;
	outline: none;
	border:10rem;
	color:rgb(255, 255, 255);
	border-radius: 0.2rem;
}

#getReport p :hover{
	color: white;
	background-color: #4e4e4e;
}

.conteiner{
	size: 10rem;
}